<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gistone.mapper.St4PoClCoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gistone.entity.St4PoClCo">
        <result column="co001" property="co001" />
        <result column="cl001" property="cl001" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        co001, cl001
    </sql>

</mapper>
