<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gistone.mapper.St4ScsCyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gistone.entity.St4ScsCy">
        <id column="CY001" property="cy001" />
        <result column="CY002" property="cy002" />
        <result column="CY003" property="cy003" />
        <result column="CY004" property="cy004" />
        <result column="CY005" property="cy005" />
        <result column="CY006" property="cy006" />
        <result column="CY007" property="cy007" />
        <result column="SA001" property="sa001" />
        <result column="CY009" property="cy009" />
        <result column="CY010" property="cy010" />
        <result column="CY011" property="cy011" />
        <result column="CY012" property="cy012" />
        <result column="CY013" property="cy013" />
        <result column="CY014" property="cy014" />
        <result column="CY015" property="cy015" />
        <result column="CY016" property="cy016" />
        <result column="CY017" property="cy017" />
        <result column="CL003" property="cl003" />
        <result column="rwcs" property="rwcs" />
        <result column="gjlc" property="gjlc" />
        <result column="rwcs" property="rwcs" />


        <association property="st4SysSa" javaType="com.gistone.entity.St4SysSa">
            <id column="SA001" property="sa001" />
            <result column="SA019" property="sa019" />
        </association>
        <association property="st4SysSg" javaType="com.gistone.entity.St4SysSg">
            <id column="SG001" property="sg001" />
            <result column="SG008" property="sg008" />
        </association>
        <association property="sysCompany" javaType="com.gistone.entity.SysCompany">
            <id column="PK_ID" property="pkId" />
            <result column="COM_NAME" property="comName" />
            <result column="COM_CODE" property="comCode" />
            <result column="COM_LEVEL" property="comLevel" />
            <result column="COM_F_CODE" property="comFCode" />
            <result column="COM_F_PKID" property="comFPkid" />
            <result column="LAT" property="lat" />
            <result column="LON" property="lon" />
        </association>

        <collection property="st4ScsCg" ofType="com.gistone.entity.St4ScsCg" >
            <id column="CG001" property="cg001" />
            <result column="CY017" property="cy017" />
            <result column="CG003" property="cg003" />
            <result column="CG004" property="cg004" />
            <result column="CG005" property="cg005" />
            <result column="CG006" property="cg006" />
        </collection>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CY001, CY002, CY003, CY004, CY005, CY006, CY007, SA001, CY009, CY010, CY011, CY012, CY013, CY014, CY015, CY016, CY017
    </sql>
    <sql id="Base_Column_List1">
        cy.CY001, cy.CY002, cy.CY003, cy.CY004, cy.CY005, cy.CY006, cy.SA001, cy.CY009, cy.CY010, cy.CY011, cy.CY012, cy.CY013,
        cy.CY014, cy.CY015, cy.CY016, cy.CY017
    </sql>

    <select id="trackDistribution" resultMap="BaseResultMap" parameterType="com.gistone.entity.St4ScsCy" >
        SELECT * FROM st4_scs_cy cy
        LEFT JOIN st4_scs_cg cg ON cg.CY017 = cy.CY017
        LEFT JOIN st4_scs_cc cc ON cc.`CY017` = cy.CY017
        left join st4_scs_ck on ck.CC002 = cc.CC002
        LEFT JOIN  st4_scs_cd on cd.cd001 = ck.cd004
        left join rlhd_group co on co.id = cd.group_id


    </select>

    <select id="getSailRecordDetail" resultMap="BaseResultMap" parameterType="com.gistone.entity.St4ScsCy" >
        select cy.*,sa.SA019,sg.SG008,sg.SG001,cg.*,cc.*,ce.*,cf.*
        from st4_scs_cy cy left join st4_sys_sa sa on cy.SA001 = sa.SA001
        left join st4_sys_sg sg on sg.SG001 = cy.CY010
        LEFT JOIN st4_scs_cg cg ON cg.CY017 = CY.CY017
        LEFT JOIN st4_scs_cc cc ON cc.`CY017` = cy.CY017
        left join st4_scs_ce ce on ce.CE002 = cc.CC002
        left join st4_scs_cf cf on cf.CC002 = cc.CC002
        <!-- where sa.SA007=1 AND cy.CY016=1 and sg.SG007 = 1-->
        where cy.CY016=1
        <if test="cy001!=null ">
            and cy.CY001 = #{cy001}
        </if>
    </select>
    <select id="listSailRecord" resultMap="BaseResultMap"  >
        select * from (
        select
        sc.sc002,
        <include refid="Base_Column_List1"/>,
        TIMESTAMPDIFF(HOUR,CY003,CY004) cy007,
        sa.SA019,sg.SG008
        from st4_scs_cy cy

        left join st4_sys_sa sa on cy.SA001 = sa.SA001
        left join st4_sys_sg sg on sg.SG001 = cy.CY010

        left join st4_scs_cl cl on cy.CL003=cl.CL003
        left join st4_sys_sc sc on cy.cy011=sc.sc001
        where cy.CY016=1
        and (sc.sc018 is null or (sc.sc018 = 2  ) )
        <!--and sc.sc018 = 2!-->
        <if test="cy.type==0 ">
            and cy.SA001 = #{cy.sa001} OR sa.SA002=#{cy.sa001}
        </if>
        <if test="cy.type==1 ">
            and cy.SA001 = #{cy.sa001}
        </if>
        <if test="cy.xcry!=null ">
            and sa.SA019 like '%${cy.xcry}%'
        </if>
        <if test="cy.cy010!=null">
            and cy.CY010 = #{cy010}
        </if>
        <if test="cy.cl001!=null and cy.cl001!='' ">
            and cl.CL001 = #{cy.cl001}
        </if>
        <if test="cy.strTime != null and cy.strTime != '' " >
            and CY003 <![CDATA[ >= ]]> #{strTime}
        </if>
        <if test="cy.endTime != null and cy.endTime != '' " >
            and CY004 <![CDATA[ <= ]]> #{cy.endTime}
        </if>
        order by cy.CY013 desc
        <if test="cy.pageNumber != null and cy.pageNumber != '' and cy.pageSize != null and cy.pageSize != '' " >
            limit #{cy.pageNumber},#{cy.pageSize}
        </if>

        ) cy
        left join st4_scs_cg cg on cy.CY017=cg.CY017
        order by cy.CY013 desc
    </select>

    <select id="getSailRouteDataByReserveId" resultType="com.gistone.entity.St4ScsCy" parameterType="Integer">
        select
        cy.*
        from st4_scs_cy cy
        left join st4_sys_sa sa on cy.CY012 = sa.SA001
        left join st4_sys_sg sg on sa.SG001 = sg.SG001
        where sa.SA007 = 1 and sg.SG007 =1 and cy.CY016=1 and  sg.SG001=#{sg001}


    </select>

    <select id="selectPoList" resultMap="BaseResultMap"   parameterType="com.gistone.entity.St4ScsCy">
        SELECT
        sa.SA019 ,
        cy.*,cc.*,ck.*,cf.*,
        sg.SG001,
        sg.SG008,
        sd.PK_ID,
        sd.COM_NAME,
        IFNULL(SUM(CY011=0),0) AS monitorNum,
        IFNULL(SUM(CY011=1),0) AS dailyNum,
        IFNULL(SUM(CY011=2),0) AS inspectNum,
        IFNULL(SUM(CY011=3),0) AS surveyNum,
        IFNULL(COUNT(*),0)    rwcs,
        IFNULL(SUM(cy.CY006),0)    gjlc,
        IFNULL(SUM(TIMESTAMPDIFF(HOUR,CY003,CY004)),0)    rwsc
        from st4_scs_cy cy
        LEFT JOIN st4_scs_cc cc ON cy.CY017=cc.CY017
        LEFT JOIN st4_scs_ck ck ON cc.CC002=ck.CC002
        LEFT JOIN st4_scs_cf cf ON cc.CC002=cf.CC002

        LEFT JOIN st4_sys_sg sg
        on cy.CY010=sg.SG001
        LEFT JOIN sys_company sd
        on sg.SD001=sd.PK_ID
        LEFT JOIN st4_sys_sa sa
        on cy.SA001=sa.SA001
        left join st4_scs_cl cl
        on cl.CL003=cy.CL003
        where cy.CY016 =1
        <if test="st4SysSg != null">
            <if test="st4SysSg.sg001!=null and st4SysSg.sg001 !=''">
                and sg.SG001 =#{st4SysSg.sg001}
            </if>
        </if>
        <if test="sysCompany != null">
            <if test="sysCompany.PK_ID!=null and sysCompany.PK_ID !=''">
                and sd.PK_ID =#{sysCompany.PK_ID}
            </if>
        </if>
        <if test="st4SysSa != null">
            <if test="st4SysSa.sa001!=null and st4SysSa.sa001  !=''">
                and sa.SA001 =#{st4SysSa.sa001}
            </if>
        </if>
        <if test="st4ScsCl != null">
            <if test="st4ScsCl.cl001!=null and st4ScsCl.cl001 !=''">
                and cl.CL001 =#{st4ScsCl.cl001}
            </if>
        </if>
        <if test="endTime!=null and endTime!=''">
            and cy.CY004 <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="strTime!=null and strTime!=''">
            and cy.CY003 <![CDATA[ >= ]]> #{strTime}
        </if>
        <if test="groupByName==null or groupByName=='' ">
            GROUP BY sd.PK_ID
        </if>
        <if test="groupByName=='sg001' ">
            GROUP BY sg.SG001
        </if>
        <if test="groupByName=='sd001' ">
            GROUP BY sd.PK_ID
        </if>
        <if test="groupByName=='sa001'">
            GROUP BY  sa.SA001
        </if>

        <if test="sortName==null">
            ORDER BY cy.CY013
        </if>
        <if test="sortName=='xcry'">
            ORDER BY CONVERT(sa.SA019 USING GBK) ${sortOrder}
        </if>
        <if test="sortName=='rwcs'">
            ORDER BY rwcs ${sortOrder}
        </if>
        <if test="sortName=='gjlc'">
            ORDER BY gjlc ${sortOrder}
        </if>

    </select>


    <select id="getPoSum2" resultType="java.lang.Integer" parameterType="com.gistone.entity.St4ScsCy">
        SELECT count(*)
        from st4_scs_cy cy
        LEFT JOIN st4_sys_sg sg
        on cy.CY010=sg.SG001
        LEFT JOIN st4_sys_sa sa
        on cy.SA001=sa.SA001
        where cy.CY016 =1
        and sg.SG007 =1
        and sa.SA007 =1
        and cy.SA001 = #{sa001}
    </select>


    <select id="selectPoList2" resultType="com.gistone.entity.St4ScsCy"
            parameterType="com.gistone.entity.St4ScsCy">
        SELECT cy.*,sg.SG008 bhdmc,sa.SA019 xcry
        from st4_scs_cy cy
        LEFT JOIN st4_sys_sg sg
        on cy.CY010=sg.SG001
        LEFT JOIN st4_sys_sa sa
        on cy.SA001=sa.SA001
        where cy.CY016 =1
        and sg.SG007 =1
        and sa.SA007 =1
        and cy.SA001 = #{sa001}
        ORDER BY CY013
        limit #{pageNumber},#{pageSize}
    </select>
</mapper>
