<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gistone.mapper.St4ScsCadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gistone.entity.St4ScsCad">
        <id column="CAD001" property="cad001" />
        <result column="CAD002" property="cad002" />
        <result column="CAD003" property="cad003" />
        <result column="CAD004" property="cad004" />
        <result column="CAD005" property="cad005" />
        <result column="CAD006" property="cad006" />
        <result column="CAD007" property="cad007" />
        <result column="CAD008" property="cad008" />
        <result column="CAD009" property="cad009" />
        <result column="CAD010" property="cad010" />
        <result column="CAD011" property="cad011" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CAD001, CAD002, CAD003, CAD004, CAD005, CAD006, CAD007, CAD008, CAD009, CAD010, CAD011
    </sql>

</mapper>
