<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gistone.mapper.St4SysSjMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gistone.entity.St4SysSj">
        <id column="SJ001" property="sj001" />
        <result column="SJ002" property="sj002" />
        <result column="SJ003" property="sj003" />
        <result column="SJ004" property="sj004" />
        <result column="SJ005" property="sj005" />
        <result column="SJ006" property="sj006" />
        <result column="SJ007" property="sj007" />
        <result column="SJ008" property="sj008" />
        <result column="uname" property="uname" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SJ001, SJ002, SJ003, SJ004, SJ005, SJ006,SJ007,SJ008
    </sql>

    <select id="getUnitDetail" resultMap="BaseResultMap" parameterType="com.gistone.entity.St4SysSj">
        select sj.SJ001, SJ002, SJ003, SJ004, SJ005, SJ006,SJ007,SJ008 ,sa.SA019 AS uname from st4_sys_sj
        sj
        left join st4_sys_sa sa on sa.SA001=sj.SJ005
        WHERE sj.SJ003=1 and sj.SJ001=#{sj001}
    </select>

    <select id="getUnitResData" resultType="Map" parameterType="com.gistone.entity.St4SysSj">
        select sg.SG001 as sg001,sg.SG008 sg008 from st4_sys_sj sj
        left join st4_po_sg_sj  sgsj
        on sgsj.SJ001 = sj. SJ001
        LEFT JOIN st4_sys_sg sg ON sg.SG001 = sgsj.SG001
        WHERE sj.SJ003=1 and sj.SJ001=#{sj001}
    </select>

</mapper>
