<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gistone.mapper.IterpretationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gistone.entity.Iterpretation">
        <id column="id" property="id" />
        <result column="image_id" property="imageId" />
        <result column="active_name" property="activeName" />
        <result column="active_type" property="activeType" />
        <result column="area" property="area" />
        <result column="descri" property="descri" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="remark" property="remark" />
        <result column="del_flag" property="delFlag" />
        <result column="geometry" property="geometry" />
        <result column="group_id" property="groupId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, image_id, active_name, active_type, area, descri, create_by, create_date, update_by, update_date, remark, del_flag, geometry, group_id
    </sql>
    <!--安徽同步下发给自己的斑块数据及台账信息!-->
    <select id="sysSpotData"  resultMap="BaseResultMap" parameterType="Integer">
        select cd.*,co.*,cl.*  from iterpretation cd
        left join  st4_po_cd_co cdco on cd.id = cdco.cd001
        left join  st4_scs_co co on cdco.co001 = co.co001
        left join st4_po_cl_co clco on clco.co001 = co.co001
        left join st4_scs_cl cl on cl.cl001 = clco.cl001
        left join st4_po_cd_sa cdsa on cdsa.cd001=cd.id
        left join st4_sys_sa sa on sa.sa001 =cdsa.sa001
        WHERE cd.del_flag=1 and sa.sa001=#{id}
    </select>
    <!--安徽下发任务接口的查询到的斑点的集合!-->
    <select id="getSpotByTaskId"  resultMap="BaseResultMap" parameterType="Integer">

        select cd.id from
        iterpretation cd
        left join st4_po_cd_co cdco on cd.id =cdco.cd001
        left join st4_scs_co co on cdco.co001 = co.co001
        LEFT JOIN st4_po_cl_co clco on  clco.co001=co.co001
        left join st4_scs_cl cl on cl.CL001 = clco.cl001
        where
         cd.del_flag=1 and cl.CL001=#{cl001}

    </select>


</mapper>
