<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gistone.bjhky.entity.st4ScsCbMapper" >
  <resultMap id="BaseResultMap" type="com.gistone.bjhky.entity.St4ScsCb" >
    <id column="CB001" property="cb001" jdbcType="INTEGER" />
    <result column="CB002" property="cb002" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CB001, CB002
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from st4_scs_cb
    where CB001 = #{cb001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from st4_scs_cb
    where CB001 = #{cb001,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gistone.bjhky.entity.St4ScsCb" >
    insert into st4_scs_cb (CB001, CB002)
    values (#{cb001,jdbcType=INTEGER}, #{cb002,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gistone.bjhky.entity.St4ScsCb" >
    insert into st4_scs_cb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cb001 != null" >
        CB001,
      </if>
      <if test="cb002 != null" >
        CB002,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cb001 != null" >
        #{cb001,jdbcType=INTEGER},
      </if>
      <if test="cb002 != null" >
        #{cb002,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gistone.bjhky.entity.St4ScsCb" >
    update st4_scs_cb
    <set >
      <if test="cb002 != null" >
        CB002 = #{cb002,jdbcType=VARCHAR},
      </if>
    </set>
    where CB001 = #{cb001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gistone.bjhky.entity.St4ScsCb" >
    update st4_scs_cb
    set CB002 = #{cb002,jdbcType=VARCHAR}
    where CB001 = #{cb001,jdbcType=INTEGER}
  </update>
</mapper>